# Dependencies
**/node_modules/
**/.pnp
.pnp.*

# Build outputs
**/dist/
**/.next/
**/out/
**/build/
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env.local
.env.production
.env.development
.env.staging
backend/.env
frontend-web/.env

# IDE and System files
.DS_Store
*.pem
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
